body {
    background-color: #333;
    color: #fff;
}

#home-section {
    background: url('../img/bg.png') no-repeat;
    min-height: 100vh;
    background-size: cover;
    background-attachment: fixed;
}
.nav-item:hover {
    animation-name: prueba;
    animation-duration: .5s;
    animation-iteration-count: unset;
    animation-timing-function: ease-in;
}
@keyframes prueba{
    0%{
        transform: translate(0px);
    }
    50%{
        transform: translateY(-10px);
    }
    100%{
        transform: translate(0px);
    }
}


.info-section img{
    max-width: 100%;
}
.formulario {
    /* background-color: #c0392b; */
    background-color: rgba(192 ,57,43 ,.7);
}